{% extends 'base.html' %}

<!-- Custom title -->
{% block title %} 
    Traceroute with location mapping 
{% endblock title %}

{% block body_data %}
{% load static %}
<div class="container" style="margin-top: 4rem; margin-bottom: 4rem;">
    <div class="row">
        <div class="main col">

            <!-- Section iwth title, description and image -->
            <div class="mt-4 mb-4">
                <h1 class="text-center">Network discovery </h1>
                <p class="pt-2 text-center">Discover devices on your network with the IP addresses. Get the information by providing the ip adress / domain name of the network. Usually the home network includes 256 possible adresses, that's equivalent to 192.168.1.0/24 netmask. Please note, if you are connected to the same network, your ip adress won't be in the discovery list.</p>
                <p class="text-center">It is suggested that you use the scanner on your personal devices or network.</p>
                <img style="display:block;" class="mx-auto discovery-image" src="{% static './img/network-discovery/network-discovery-filtered.jpg'%}" alt="" width="30%">
            </div>

            <!-- Section with 3 columns, including adress, input and submit button -->
            <form name="form-network-discovery">
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <div class="align-middle">
                                <label style="display:block; text-align:right; padding-top: 5px;" class="" for="network_ip">Network:</label>
                            </div>
                        </div>

                        <div class="col">
                            <input class="form-control mx-auto" type="text" id="network_ip" placeholder="for example: google.com/24">
                        </div>

                        <div class="col">
                            <button class="btn btn-success my-auto discovery-load" type="button">Discover</button>
                        </div>
                    </div>
                </div>
            </form>
            
            <!-- Here we load the status and the result of port scan -->
            <div class="row">
                <div class="network-discovery-results mx-auto">
                    
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock body_data %}

{% block custom_js %}
    <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.js"></script>
    <script type="module" src="{% static './js-modules/discovery-processor.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
{% endblock custom_js%}