{% extends 'base.html' %}

<!-- Custom title -->
{% block title %} 
    Traceroute with location mapping 
{% endblock title %}

{% block body_data %}
{% load static %}
<div class="container" style="margin-top: 4rem; margin-bottom: 4rem;">
    <div class="row">
        <div class="main col">

            <!-- Section iwth title, description and image -->
            <div class="mt-4 mb-4">
                <h1 class="text-center">Traceroute your local network</h1>
                <p class="pt-2 text-center">The tool allows you to get the insight of how your packet travels from your network adapter to the destination. If you noticed several issues on internet connection, traceroute might help to gather the node that causes the issues. When the command is launched, we map the route of your packet to the destination ip, along with location, provider and other details.</p>
                <p class="text-center">Please notice, some of the nodes might block ICMP due to several reasons, including firewalls settings. These are marked as *.</p>
                <img style="display:block;" class="mx-auto traceroute-image" src="{% static './img/traceroute/traceroute-your-network-pandorax.png' %}" alt="" width="30%">
            </div>

            <!-- Section with 3 columns, including adress, input and submit button -->
            <form name="form-traceroute" action="#">
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <div class="align-middle">
                                <label style="display:block; text-align:right; padding-top: 5px;" class="" for="ip_addr">Adress:</label>
                            </div>
                        </div>

                        <div class="col">
                            <input class="form-control mx-auto" type="text" id="ip_addr">
                        </div>

                        <div class="col">
                            <button class="btn btn-success my-auto traceroute-load" type="button">Traceroute</button>
                        </div>
                    </div>
                </div>
            </form>
            
            <!-- Here we load the status and the result of traceroute -->
            <div class="row">
                <div class="traceroute-results mx-auto"></div>
              
            </div>

            <div class="row graphs">

                <div class="row" style="margin-top:3rem;">
                    <div class="col">
                        <!-- Here we load the charts with the ping results from traceroute -->
                        <div class="row ping-graph">
                        <canvas id="pings"></canvas>
                        </div>
                    </div>
    
                    <div class="col">
                        <!-- Here we load the charts with the countries summary from traceroute -->
                        <div class="row country-graph">
                            <canvas id="countries"></canvas>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top:3rem;">
                    <div class="col mr-3">
                        <!-- Here we load the charts with the organizations from traceroute -->
                        <div class="row organization-graph">
                            <canvas id="organizations"></canvas>
                        </div>
                    </div>

                    <div class="col ml-3">
                        <!-- Here we load the charts with the adress types from traceroute -->
                        <div class="row adresses-graph">
                            <canvas id="adresses"></canvas>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
    </div>
</div>

{% endblock body_data %}

{% block custom_js %}
    <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script type="module" src="{% static './js-modules/traceroute-processor.js' %}"></script>
    <script type="module" src="{% static './js-modules/trace-chart.js' %}"></script>
{% endblock custom_js%}